{% load static %}
<html>
    <head>
        <title>Lista zadań</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">    
    </head>
    <body>
        <div class="main-page">
            <h1><a href="/">Lista zadań</a></h1>
        </div>
            <form action="/add/" method = "post">
                {% csrf_token %}
                <div class="form-group">
                <input class="form-control" type="text" name="content">
                </div>
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </form>
        
        <div class="tasks">
        {% for task in tasks %}
        <form>
        {% if task.complete == True%}
            <div class="todolist">
                <h2>{{task.title}} - Zrobione! - <a style="color:red" href="{% url 'delete' task.id %}">Usuń</a> </h2>               
            </form>  
            </div>
        {% else %}
            <div class="todolist">
                <h2>{{task.title}} - Niezrobione! - <a style="color:green"href="{% url 'change_to_done' task.id %}">Zrobione</a> - <a style="color:red" href="{% url 'delete' task.id %}">Usuń</a>
                </h2>
            </div>
        {% endif %}
        {% endfor %}
        </div>
        
        <div class="delete-all">
        <a href="{% url 'delete-all'%}">Usuń wszystko</a>
        </div>
    </body>
</html>


